  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
 .avatar{
  border-radius: 50%;
  height: 60px;
 }
  
 .exporter{
  padding: 15px;
    button{
      margin-right: 10px;
    }
 }

 th.mat-header-cell{
  margin-left: 10px;
 }