<form formGroupName="changePasswordForm">
<!--password input field-->
<p>
    <mat-form-field appearance="outline" style="width: 100%" hintLabel="Min 8 Characters"
      (input)="onPasswordMatcher()">
      <mat-label>Password</mat-label>
      <input matInput #password formControlName="password"
        [type]="passwordVisibilityService.showPassword ? 'password' : 'text'" placeholder="Enter Password">
      <mat-icon matSuffix (click)="passwordVisibilityService.togglePasswordVisibility()">
        {{passwordVisibilityService.showPassword?'visibility_off':'visibility'}}
      </mat-icon>
      <mat-hint align="end" aria-live="polite">
        {{password.value.length}} / {{passwordComponent.max}}
      </mat-hint>
    </mat-form-field>
  </p>

  <!--confirm password input field-->
  <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
    <mat-label>Confirm Password</mat-label>
    <input matInput formControlName="cpassword"
      [type]="passwordVisibilityService.showPassword ? 'password' : 'text'" placeholder="Repeat Password"
      (input)="onPasswordMatcher()">
    <mat-icon matSuffix (click)="passwordVisibilityService.togglePasswordVisibility()">
      {{passwordVisibilityService.showPassword?'visibility_off':'visibility'}}
    </mat-icon>
    <mat-error
      *ngIf="changePasswordForm.controls['cpassword'].invalid && !changePasswordForm.controls['cpassword'].hasError('required')">
      Passwords don't match</mat-error>
  </mat-form-field>

  <!--@angular-material-extensions/password-strength's main component-->
  <mat-password-strength-info [passwordComponent]="passwordComponent">
  </mat-password-strength-info>
  <mat-password-strength #passwordComponent [password]="password.value">
  </mat-password-strength>
</form>