<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Mission">
        <div class="flex center ">
            <h2>Our Mission</h2>
            <img src="https://www.galaxyweblinks.com/new_theme/assets/images/about-page/accountability.png">
            <div class="paragraph">We co-create value for our customers with a focus on innovation,
            processes, and technology excellence.
            We live in a world that intersects & interacts with software. We are focusing on building it as human as
            possible.
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Vision">
        <div class="flex center ">
            <h2>Our Vision</h2>
            <img src="https://www.galaxyweblinks.com/new_theme/assets/images/about-page/continuous-improvement.png">
            <div class="paragraph">Empowering our customers, employees, and stakeholders with integrity, fairness, and values.
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Values">
        <div class="flex center ">
            <h2>Our Values</h2>
            <img src="https://www.galaxyweblinks.com/new_theme/assets/images/about-page/accountability.png">
            <div class="paragraph">Galaxy Weblinks is driven by inclusivity, happiness, and agility.
                 Empathy is at our core and engulfs every single decision we make.
            </div>
        </div>
    </mat-tab>
    
</mat-tab-group>