<div class="container">
    <div class="form-content">

        <mat-card>
            <mat-card-header>
            <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form>
                <!--Email input field-->
                <p>
                    <mat-form-field  appearance="outline" style="width: 100%;">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput [formControl]="Email" placeholder="Ex. pat@example.com">
                        <mat-error *ngIf="Email.hasError('email') ">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="Email.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>
                </mat-form-field>
            </p>
            
            <p>
                <mat-form-field appearance="outline" style="width: 100%" hintLabel="Min 8 Characters" >
                    <mat-label>Password</mat-label>
                    <input  matInput #pswd [formControl]="password" [type]="passwordVisibilityService.showPassword ? 'password' : 'text'" placeholder="Enter Password" >
                    <mat-icon matSuffix (click)="passwordVisibilityService.togglePasswordVisibility()">
                        {{passwordVisibilityService.showPassword?'visibility_off':'visibility'}}
                    </mat-icon>
                    <mat-hint align="end" aria-live="polite">
                        {{pswd.value.length}} / 30
                    </mat-hint>
                </mat-form-field>
                    </p>
                    
                    <p>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" style="width: 100%; height: 50px; border-radius: 15px;font-size: large;">Login</button>
                        </mat-card-actions>
                    </p>

                    <div class="social">
                        <button mat-button style="padding: 1rem;">
                     <mat-icon style="width: 50px; height:30px" >
                       <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="google">
                     </mat-icon> Login With Google
                     </button>  
                     
                     <button mat-button style="padding: 1rem;" >
                       <mat-icon style="width: 50px; height:30px" >
                         <img src="	https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-facebook_-512.png" alt="fb">
                       </mat-icon> Login With Facebook
                     </button>
                     </div>
                </form>
        </mat-card-content>
    </mat-card>
    
</div>
</div>