.container{
    width: 500px;

    margin: 50px auto;
}
.mat-card-header .mat-card-title {
    margin-bottom: 25px;
}

img {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 14px;
  }

  .mat-button{
    background-color: lightgrey;
    border-radius: 5rem;
    width: 15rem;
    height: 4rem;
  }

  .social{
    display: flex;
    justify-content: space-around;
  }