<div class="container">
    <div class="form-content">

        <mat-card>
            <mat-card-header>
                <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="on">
                    <!--Email input field-->
                    <p>
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput formControlName="Email" placeholder="Ex. pat@example.com">
                            <mat-error *ngIf="loginForm.controls.Email.invalid">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="loginForm.controls['Email'].hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </p>

                     <!--Password input field-->
                    <p>
                        <mat-form-field appearance="outline" style="width: 100%" hintLabel="Min 8 Characters">
                            <mat-label>Password</mat-label>
                            <input matInput #pswd formControlName="password"
                                [type]="passwordVisibilityService.showPassword ? 'password' : 'text'"
                                placeholder="Enter Password">
                            <mat-icon matSuffix (click)="passwordVisibilityService.togglePasswordVisibility()">
                                {{passwordVisibilityService.showPassword?'visibility_off':'visibility'}}
                            </mat-icon>
                            <mat-hint align="end" aria-live="polite">
                                {{pswd.value.length}} / 30
                            </mat-hint>
                        </mat-form-field>
                    </p>

                     <!--Role  field-->
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Select Your Role</mat-label>
                        <mat-select matNativeControl required formControlName="role">
                            <mat-option value="Admin">Admin</mat-option>
                            <mat-option value="User">User</mat-option>

                        </mat-select>
                        <mat-error *ngIf="loginForm.controls['role'].hasError('required')">
                            This field is required
                        </mat-error>
                    </mat-form-field>

                    <div class="card-footer"><a routerLink="/auth/change-password">Forget Password?</a></div>

                    <p>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" [disabled]="!loginForm.valid"
                                style="width: 100%; height: 50px; border-radius: 15px;font-size: large;">Login</button>
                        </mat-card-actions>
                    </p>

                </form>

                <!--Social signup buttons-->
                <div class="social">
                    <button mat-button style="padding: 1rem;" (click)="signInWithGoogle()">
                        <mat-icon style="width: 50px; height:30px">
                            <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png"
                                alt="google">
                        </mat-icon> SignUp With Google
                    </button>

                    <button mat-button style="padding: 1rem;">
                        <mat-icon style="width: 50px; height:30px">
                            <img src="	https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-facebook_-512.png"
                                alt="fb">
                        </mat-icon> SignUp With Facebook
                    </button>
                </div>


                <mat-divider></mat-divider>
                <div class="signupSection">
                </div>
            </mat-card-content>
            <mat-card-footer>
                <div class="card-footer">Don't have an account? <strong><a routerLink="/auth/signup">SignUp</a></strong>
                </div>

            </mat-card-footer>
        </mat-card>

    </div>
</div>