

.dashboard-card {
  padding: 30px;
  margin: 25px;
  min-width: 500px;
}

.card{
  display: flex;
  // margin: 0 auto;
  justify-content: space-around;
}

mat-sidenav-container {
  background: transparent;
  height: calc(100vh - 64px);
}

mat-sidenav {
  background-color: #673AB7;
}