<div class="container">
  <mat-card>

    <mat-card-header style="justify-content: center;">
      <mat-card-title style="color: rgb(120, 24, 168);">Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>

      <form [formGroup]="signupForm" (ngSubmit)="signup()" autocomplete="on">

        <!--Name input field-->
        <p>
          <mat-form-field hintLabel="Max 15 characters" appearance="outline" style="width: 100%;">
            <mat-label>Name</mat-label>
            <input matInput #input formControlName="name" maxlength="15" placeholder="Enter Name">
            <mat-hint align="end">{{input.value.length || 0}}/15</mat-hint>
          </mat-form-field>
        </p>

        <!--Email input field-->
        <p>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="signupForm.controls['email'].errors">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="signupForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>

        <!--password input field-->
        <p>
          <mat-form-field appearance="outline" style="width: 100%" hintLabel="Min 8 Characters"
            (input)="onPasswordMatcher()">
            <mat-label>Password</mat-label>
            <input matInput #password formControlName="password"
              [type]="passwordVisibilityService.showPassword ? 'password' : 'text'" placeholder="Enter Password">
            <mat-icon matSuffix (click)="passwordVisibilityService.togglePasswordVisibility()">
              {{passwordVisibilityService.showPassword?'visibility_off':'visibility'}}
            </mat-icon>
            <mat-hint align="end" aria-live="polite">
              {{password.value.length}} / {{passwordComponent.max}}
            </mat-hint>
          </mat-form-field>
        </p>

        <!--confirm password input field-->
        <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px;">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="cpassword"
            [type]="passwordVisibilityService.showPassword ? 'password' : 'text'" placeholder="Repeat Password"
            (input)="onPasswordMatcher()">
          <mat-icon matSuffix (click)="passwordVisibilityService.togglePasswordVisibility()">
            {{passwordVisibilityService.showPassword?'visibility_off':'visibility'}}
          </mat-icon>
          <mat-error
            *ngIf="signupForm.controls['cpassword'].invalid && !signupForm.controls['cpassword'].hasError('required')">
            Passwords don't match</mat-error>
        </mat-form-field>

        <!--@angular-material-extensions/password-strength's main component-->
        <mat-password-strength-info [passwordComponent]="passwordComponent">
        </mat-password-strength-info>
        <mat-password-strength #passwordComponent [password]="password.value">
        </mat-password-strength>

        <!--Sign Up Button -->
        <p>
          <mat-card-actions>
            <button mat-raised-button color="primary" [disabled]="!signupForm.valid" matTooltip="Register"
              style="width: 100%; height: 50px; border-radius: 15px;font-size: large;">Sign Up</button>
          </mat-card-actions>
        </p>

        <!--Social signup Buttons-->
        <div class="social">
          <button mat-button style="padding: 1rem;" matTooltip="Signup using Google Account">
            <mat-icon style="width: 50px; height:30px">
              <img src="https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png" alt="google">
            </mat-icon> SignUp With Google
          </button>

          <button mat-button style="padding: 1rem;" matTooltip="Signup using Facebook Account">
            <mat-icon style="width: 50px; height:30px">
              <img src="	https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-facebook_-512.png" alt="fb">
            </mat-icon> SignUp With Facebook
          </button>
        </div>
      </form>
    </mat-card-content>

    <mat-divider inset="true"></mat-divider>
    <mat-card-footer>
      <div class="card-footer-signup" matTooltip="Have an account go to login page ">Already a member? <strong><a
            routerLink="/auth/login">Login</a></strong></div>
    </mat-card-footer>

  </mat-card>
</div>